 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 571px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 60px 0 0;
}

.u-section-1 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 267px;
  --gap: 10px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 30px;
}

.u-section-1 .u-icon-1 {
  width: 161px;
  background-image: none;
  height: 161px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 45px;
}

.u-section-1 .u-text-2 {
  margin: 5px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 30px;
}

.u-section-1 .u-icon-2 {
  width: 161px;
  background-image: none;
  height: 161px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 45px;
}

.u-section-1 .u-text-3 {
  margin: 5px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 30px;
}

.u-section-1 .u-icon-3 {
  width: 161px;
  background-image: none;
  height: 161px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 45px;
}

.u-section-1 .u-text-4 {
  margin: 5px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 220px;
    grid-gap: 10px;
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 884px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 12px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 506px;
    grid-auto-columns: calc(50% - 5.0000025px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-1 .u-text-1 {
    font-size: 7.5rem;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 514px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 59px auto 0;
}

.u-section-2 .u-form-1 {
  height: 314px;
  width: 570px;
  margin: 31px auto 57px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 168px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 30px auto 30px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 263px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-social-icons-1 {
  height: 48px;
  width: 96px;
  min-width: 160px;
  margin: 0 auto;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 263px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 130px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 217px;
  }

  .u-section-3 .u-social-icons-1 {
    min-height: 16px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 217px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 141px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-social-icons-1 {
    width: 320px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 241px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 108px;
  }

  .u-section-3 .u-social-icons-1 {
    height: 44px;
    width: 298px;
  }
}